body {
  background: white;  /*#f5f3e7*/
}

.wrapper {
	border: 0px solid green;
  	padding: 0px 0px;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 30%;
	vertical-align: center; 
	overflow: hidden; 
  	background: white; /*#f5f3e7*/
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;	
}

/*
// line {
//   //position: relative;
//   z-index: -1;
// }

// rect {
//   //position: relative;
//   z-index: 1;
// }
*/